<h4>Admins</h4><br>
<% if current_user.admin? %>
  <%= link_to  "Criar novo", new_user_registration_path%>
  <%# destroy_user_session_path %>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">#</th>
        <th scope="col">#</th>
        
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        
          <tr>
            <td><%= user.id%></td>
            <td><%= user.name%></td>
            <td><%= user.email%></td>
            <td><%= user.role%></td>
            <td><%= link_to("Show",user) %></td>
            <td><%= link_to("Deletar",user_path(user),method: :delete,data: {confirm: "Are you sure?"})%></td>

          </tr>
        
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>"você precisa dos privilegios de acesso para ver os usuarios"</p>
<% end %>
