
  
<div class="card" style="background-color:#f6f6f6;">
  <div class="card-body">
    <%= form_with model: post do |form| %>
      
      <div class="col-6">
          <div class="form-group">
            <% form.label :user_id %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <% post.errors.full_messages_for(:user_id).each do |message| %>
                <div><%= message %></div>
            <% end %>
          </div>
      </div>

      <div class="form-group">
        <%= form.label :content %>
        <%= form.text_field :content, class: "form-control" %>
        <% post.errors.full_messages_for(:content).each do |message| %>
                <div><%= message %></div>
            <% end %>
      </div>

      <div class="form-group">
        <%= form.label :images %>
        <%= form.file_field :images, multiple: true, class: "form-control" %>
        <% post.errors.full_messages_for(:description).each do |message| %>
                <div><%= message %></div>
            <% end %>
      </div>

      </div>
      <%= form.submit %>
    <% end %>
  </div>
</div>
