<section class="py-7">
	<div class="container background">
		<div class="row align-items-center g-5">
			<div class="col-lg-5 col-xl-6 position-relative z-index-1 text-center text-lg-start mb-5 mb-sm-0">
				<h1 class="mb-0 display-6">Portal de tweets interativos!</h1>
				
				<% @posts.each do |post| %>
					<h1><%= post.content %></h1>
					<p>Por: <%= post.user.name %></p>

					<% if current_user != post.user %>
						<% if current_user.following.include?(post.user) %>
							<%= button_to "Deixar de Seguir", unfollow_user_path(post.user), method: :delete, class: "btn btn-danger" %>
						<% else %>
							<%= button_to "Seguir", follow_user_path(post.user), method: :post, class: "btn btn-primary" %>
						<% end %>
					<% end %>

					<% if post.images.attached? %>
						<% post.images.each do |image| %>
							<%= image_tag image.variant(resize_to_limit: [300, 300]).processed %>
						<% end %>
					<% end %>

					<p>
						<strong><%= post.likers.count %> ===> curtidas</strong>
					</p>

					<p>
						游녨 <%= post.likers.count %> | 游눫 <%= post.comments.count %> | 游대 <%= post.reposts.count %>
					</p>

					<% if post.likers.include?(current_user) %>
						<%= button_to "Descurtir", post_like_path(post), method: :delete, class: "btn btn-danger" %>
					<% else %>
						<%= button_to "Curtir", post_like_path(post), method: :post, class: "btn btn-primary" %>
					<% end %>

					<% if current_user.reposted_posts.include?(post) %>
						<%= button_to "Desfazer Repost", post_repost_path(post, current_user.reposts.find_by(post_id: post.id)), method: :delete, class: "btn btn-danger" %>
					<% else %>
						<%= button_to "Repostar", post_reposts_path(post), method: :post, class: "btn btn-primary" %>
					<% end %>

					<%= link_to "Criar outro", new_post_path %>

					<h2>Coment치rios</h2>
					<% post.comments.each do |comment| %>
						<p><strong><%= comment.user.name %>:</strong> <%= comment.content %></p>
						<% if comment.images.attached? %>
							<% comment.images.each do |image| %>
								<%= image_tag image.variant(resize_to_limit: [300, 300]).processed %>
							<% end %>
						<% end %>

						<p>
							<strong><%= comment.comment_likers.count %> ===> curtidas do coment치rio</strong>
						</p>

						<% if comment.comment_likers.include?(current_user) %>
							<%= button_to "Descurtir", post_comment_like_path(comment.post, comment), method: :delete, class: "btn btn-danger" %>
						<% else %>
							<%= button_to "Curtir", post_comment_like_path(comment.post, comment), method: :post, class: "btn btn-primary" %>
						<% end %>


						<% if comment.user == current_user %>
							<%= button_to "Excluir", post_comment_path(comment.post, comment), method: :delete, data: { confirm: "Tem certeza?" } %>
						<% end %>
					<% end %>

					<hr>

					<%= form_with(model: [post, Comment.new], local: true) do |form| %>
						<p>
							<%= form.text_area :content, rows: 5, class: "form-control", placeholder: "Adicione um coment치rio..." %>
						</p>
						<p>
							<%= form.file_field :images, multiple: true, accept: "image/png,image/jpeg" %>
						</p>
						<p>
							<%= form.submit "Comentar", class: "btn btn-primary" %>
						</p>
					<% end %>
				<% end %>
				<% @reposts.each do |repost| %>
					<div class="repost">
						<p>游 <strong><%= repost.user.name %></strong> repostou</p>

						<!-- Exibe o conte칰do do post original -->
						<p><strong><%= repost.post.user.name %>:</strong> <%= repost.post.content %></p>

						<% if repost.post.images.attached? %>
							<div class="post-images">
								<% repost.post.images.each do |image| %>
									<%= image_tag image.variant(resize_to_limit: [300, 300]).processed, class: "img-thumbnail" %>
								<% end %>
							</div>
						<% end %>

						<p>
							游녨 <%= repost.post.likers.count %> | 游눫 <%= repost.post.comments.count %> | 游대 <%= repost.post.reposts.count %>
						</p>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</section>